@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    display: grid;
    place-content: center;
    height: 100vh;
    background-image: linear-gradient(to bottom, #C472FF,#FF58E3), url('./assets/bg-image.png');
    background-position: center;
}

.display-led {
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 36px;
}